/* Signup/Login */
.account-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.account-page h1 {
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

.account-page input {
    font-size: 1rem;
    outline: transparent;
    margin: 1rem 0;
}

.account-page input[type="text"],
.account-page input[type="password"] {
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}

.account-page input[type="submit"] {
    margin: 0 auto;
    background-color: dodgerblue;
    color: white;
    border-radius: 2px;
    padding: 5px;
}

.account-page input[type="submit"]:hover {
    cursor: pointer;
}

.account-page input[type="submit"]:disabled {
    color: black;
    background-color: lightgray;
    cursor: not-allowed;
}

.account-page label {
    width: 100%;
}

.account-page form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.account-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sign up form specific */
#signUpForm span {
    display: block;
}

/* Login form specific */
#loginForm #showInvalid {
    display: none;
    color: red;
}

/* ** Media Queries ** */
@media only screen and (max-width: 425px) {
    .account-form {
        width: 90vw;
    }
}

@media only screen and (max-width: 768px) {
    .account-form {
        width: 50vw;
    }
}
