/* Signup/Login */
.account-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("app/assets/logo-square.svg");
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 20%;
    height: 40%;
}

.account-form h1 {
    font-weight: 400;
    font-size: 3rem;
}

.account-form form {
    width: 100%;
    margin: 20px 0 0 0;
}

.account-form form input {
    display: block;
    margin: 10px auto;
    width: 80%;
    font-size: 1rem;
    outline: 1px solid var(--black)
}

/* Invalid message */
#showInvalid,
#showTaken {
    color: red;
    font-weight: bold;
    display: none; /* Initially display none */
}

/* Media queries */