:root {
    /* Colours */
    --black: #0B2027;
    --cold: #40798C;
    --lukewarm: #E9C46A;
    --warm: #E76F51;
    /* Percentages */
    --disgaree: 0fr;
    --neutral: 0fr;
    --agree: 0fr;
}

* {
    /* Reset Stylesheet */
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    /* Allows navbar to take up x amount of space and rest of content to
    take up the rest */
    display: flex;
    flex-flow: column;
    background-color: #efefef;
}


#logo img {
    width: 40px;
    margin: 20px;
}