:root {
    /* Colours */
    --black: #0B2027;
    --cold: #40798C;
    --lukewarm: #E9C46A;
    --warm: #E76F51;
    /* Percentages */
    --disgaree: 0fr;
    --neutral: 0fr;
    --agree: 0fr;
}

* {
    /* Reset Stylesheet */
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Dosis', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    /* Allows navbar to take up x amount of space and rest of content to
    take up the rest */
    display: flex;
    flex-flow: column;
}

/* -- Links -- */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* -- Navbar -- */
header {
    height: 5vw;
    background-color: var(--black);
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    padding: 0 2rem;
}

.logo-container {
    /* Align logo center */
    display: flex;
    align-items: center;
}

#logo {
    color: white;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

nav ul li {
    margin: 1rem;
}

nav ul li a {
    color: white;
}

.accounts ul {
    justify-content: end;
}

.shortcuts {
    display: flex;
    justify-content: center;
}

.accounts ul {
    display: flex;
    width: 100%;
}

.menu-container {
    display: none;
    justify-content: end;
}

.menu {
    display: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.smaller-menu {
    display: none;
}

/* Smaller Menu */
#smallerMenu {
    display: none;
    padding: 2rem;
    flex-direction: column;
    background-color: #0B2027;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.close-menu-container {
    display: flex;
    justify-content: end;

}

#smallerMenu .inline {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#smallerMenu .logo-container {
    display: flex;
    justify-content: start;
}

.sm-shortcuts > *, .sm-accounts > * {
    display: block;
}

.submit {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.submit:hover {
    background-color: var(--black);
    color: white;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .shortcuts, .accounts {
        display: none;
    }

    header {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        box-sizing: border-box;
    }
    
    .logo-container {
        justify-content: center;
    }

    .menu-container {
        display: flex;
    }

    .menu {
        display: block;
    }

    .smaller-menu {
        display: block;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 550px) {
    header {
        height: 10vh;
    }
}

/* @media only screen and (max-width: 425px) {
    .
} */

@media only screen and (max-width: 320px) {
    #logo {
        font-size: 1.2rem;
    }
}