#dashboard .options {
    position: sticky;
    margin: 1rem 0 0 0;
    width: 80%;
    top: 20;
    height: 80%;
    padding: 1rem;
}

#dashboard .list-group-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* New Statement */
#nsModal .modal-dialog {
    width: 75vw;
}

#nsModal input,
#nsModal textarea {
    display: block;
    outline: transparent;
}

#nsModal input {
    width: 100%;
    font-size: 1rem;
}

#nsModal textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

/* Statements */
.statement-options a {
    display: block;
    margin: 0 5px;
}

/* Profile bio */
#profileBio,
#profileBioEditable {
    outline: transparent;
    background-color: transparent;
}