#dashboard .options {
    position: sticky;
    margin: 1rem 0 0 0;
    width: 80%;
    top: 20;
    height: 80%;
    padding: 1rem;
}

#dashboard .list-group-item:hover {
    background-color: lightgray;
    cursor: pointer;
}

/* Statements */
.statement-options a {
    display: block;
    margin: 0 5px;
}

/* Profile bio */
#profileBio,
#profileBioEditable {
    outline: transparent;
    background-color: transparent;
}