/* Search input */
#searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 0 0;
}

#searchResults {
    width: 40vw;
    height: 100%;
    background-color: white;
    padding: 10px 5px;
    box-sizing: border-box;
}

#searchResults h4 {
    font-weight: 400;
}

#search {
    width: 40vw;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

#search:focus {
    outline: transparent;
}

#searchStatements,
#searchUsers {
    display: flex;
    flex-direction: column;
}

#searchResults a {
    color: dodgerblue;
}

#searchStatements div {
    display: flex;
    color: gray;
}

#searchStatements div p {
    margin: 0 5px 0 0;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    #searchResults, 
    #search {
        width: 80vw;
    }
}