/* Statements */
.statements {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statement {
    width: 40vw;
    margin: 1rem 0;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    /* Percentages follow statement's border radius */
    overflow: hidden; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.statement * {
    margin: 0;
}

.statement h2 {
    font-weight: 400;
    font-size: 2rem;
}

.statement .username {
    color: dodgerblue;
    text-decoration: none;
}

.statement .username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content {
    padding: 5px;
}

.percentages {
    display: grid; 
    grid-template: 1fr / var(--disgaree) var(--neutral) var(--agree);
    background-color: var(--black);
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
}

.disagree {
    background-color: var(--cold);
}

.neutral {
    background-color: var(--lukewarm);
}

.agree {
    background-color: var(--warm);
}

/* No statements */
.no-statements {
    font-size: 1.5rem;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .statement {
        width: 80vw;
    }
}