header
    div(class="logo") 
        img(src="../../assets/logo.svg")
        a(href="") = "Spectrum Debate"
    nav(class="shortcuts")
        ul
            li(class="link")
                a(href="home") = "Home"
            li(class="link")
                a(href="login") = "Dashboard"
    nav(class="accounts")
        ul
            li(class="link") 
                a(href="login" id="navLogin") = "Login" 
            li(class="button") 
                a(href="signup" id="navSignUp") = "Sign Up Now" 