header
    div(class="logo") 
        img(src="../../assets/logo.svg")
        a(href="//localhost/") = "Spectrum Debate"
    nav(class="shortcuts")
        ul
            li(class="link")
                a(href="//localhost/home") = "Home"
            li(class="link")
                a(href="//localhost/login") = "Dashboard"
    nav(class="accounts")
        ul
            li(class="link") 
                a(href="//localhost/login" id="navLogin") = "Login" 
            li(class="button") 
                a(href="//localhost/signup" id="navSignUp") = "Sign Up Now" 