header 
    div(class="logo") 
        img(src="../../assets/logo.svg")
        a(href="//localhost/") = "Spectrum Debate"
    nav(class="shortcuts")
        ul
            li(class="link")
                a(href="//localhost/home") = "Home"
            li(class="link")
                a(href="//localhost/dashboard") = "Dashboard"
    nav
        ul
            li
                a(href="//localhost/dashboard") = "{$username}"
            li
                a(href="//localhost/logout" id="navLogout" class="logout") = "Logout"
