main(id="full-statement") 
    h1 = "{$statement[2]}"
    p(class="post-info")
        span
            b = "{$statement[1]}"
        span = " stated at "
        span = "{$statement[4]}"
    p = "{$statement[3]}"