doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

    //- Bootstrap
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")

    //- Google fonts
    link(href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/8737e79ded.js" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    title = "{$title}"
    style
        include stylesheets/base.css
        include stylesheets/accounts.css

        include stylesheets/statements.css
        
        include stylesheets/full_statement.css
        include stylesheets/dashboard.css
        include stylesheets/edit_comment.css
        include stylesheets/edit_statement.css
        include stylesheets/user_profile.css
        include stylesheets/home.css
body 
    script(src="{$domain}/app/scripts/base.js")
    block head

    block content
