doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous")
    link(rel="icon" type="image/svg" href="favicon.svg")
    style 
        include stylesheets/styles.css
    title = "{$title}"
body
    header 
        div(class="logo") 
            img(src="/app/assets/logo.svg")
            a(href="{$domain}/") = "Spectrum Debate"
        nav(class="shortcuts")
            ul
                li(class="link")
                    a(href="{$domain}/home") = "Home"
                li(class="link")
                    a(href="{$domain}/dashboard") = "Dashboard"
        
        if $username
            nav
                ul
                    li
                        a(href="{$domain}/dashboard") = "{$username}"
                    li
                        a(href="{$domain}/logout" id="navLogout" class="logout") = "Logout"
        else
            nav(class="accounts")
                ul
                    li(class="link") 
                        a(href="{$domain}/login" id="navLogin") = "Login" 
                    li(class="button") 
                        a(href="{$domain}/signup" id="navSignUp") = "Sign Up Now" 
    
    block content