doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/8737e79ded.js" crossorigin="anonymous")
    title = "{$title}"
    style
        //- Required by all
        include stylesheets/base.css
        include stylesheets/accounts.css

        //- Almost all
        include stylesheets/statements.css
        
        include stylesheets/full_statement.css
        include stylesheets/dashboard.css
        include stylesheets/edit_comment.css
        include stylesheets/edit_statement.css
        include stylesheets/user_profile.css
body
    header(id="header") 
        section(class="logo-container") 
            a(href="{$domain}/" id="logo") = "Spectrum Debate"
        nav(class="shortcuts")
            ul
                li(class="link")
                    a(href="{$domain}/home") = "Home"
                li(class="link")
                    a(href="{$domain}/dashboard") = "Dashboard"

        //- Menu button for smaller devices
        section(class="menu-container")
            button(id="menu" class="menu") = "Menu"

        //- Navbar for larger devices
        if $username
            nav(class="accounts")
                ul
                    li
                        a(href="{$domain}/dashboard")
                            i(class="fa-solid fa-user" style="color: #ffffff;")
                            span = " "
                            span(id="nUsername") = "{$username}"
                    li
                        a(href="{$domain}/logout" id="navLogout" class="logout")
                            i(class="fa-solid fa-right-from-bracket" style="color: #ffffff;")
                            span = " Logout"

        else
            nav(class="accounts")
                ul
                    li(class="link") 
                        a(href="{$domain}/login" id="navLogin") = "Login" 
                    li(class="button") 
                        a(href="{$domain}/signup" id="navSignUp") = "Sign Up Now" 

    //- Menu for smaller devices
    section(id="smallerMenu")
        section(class="inline")
            section(class="logo-container") 
                a(href="{$domain}/" id="logo") = "Spectrum Debate"
            section(class="close-menu-container")
                button(id="closeMenu" class="menu") = "Close Menu"

        nav(class="sm-shortcuts")
            ul
                li(class="link")
                    a(href="{$domain}/home") = "Home"
                li(class="link")
                    a(href="{$domain}/dashboard") = "Dashboard"

        if $username
            nav(class="sm-accounts")
                ul
                    li
                        a(href="{$domain}/dashboard")
                            i(class="fa-solid fa-user" style="color: #ffffff;")
                            span = " "
                            span(id="sUsername") = "{$username}"
                    li
                        a(href="{$domain}/logout" id="navLogout" class="logout")
                            i(class="fa-solid fa-right-from-bracket" style="color: #ffffff;")
                            span = " Logout"
        else
            nav(class="sm-accounts")
                ul
                    li(class="link") 
                        a(href="{$domain}/login" id="navLogin") = "Login" 
                    li(class="button") 
                        a(href="{$domain}/signup" id="navSignUp") = "Sign Up Now" 
    
    script(type="text/javascript" src="../app/scripts/base.js")
        
    block content