extends base.pug

block content
    main(id="dashboard")
        h1 = "Dashboard"
        button(id="nsBtn") = "Write a new statement..."

        dialog(id="nsModal")
            h2 = "Write a new statement"
            button(id="nsCloseBtn") = "Close"
            form(method="POST" action="new-statement")
                input(type="text" name="ns-title" id="nsTitle" placeholder="Title", required)
                input(type="text" name="ns-text" id="nsText" placeholder="Write a description", required)
                input(type="submit")
        
        div(class="statements")
            each $statement in $statements
                div(class="statement" role="link" tabindex="0" onclick="window.location.href='{$domain}/statement/{$statement[0]}'") 
                    div(class="percentages")
                        div(class="disagree")
                        div(class="neutral")
                        div(class="agree")

                    div(class="content")

                        div(class="inline")
                            h2(class="statement-title") = $statement[2] 
                            p(class="margin-right")
                                span(class="username") = $statement[1]
                                span = "stated "
                                span = $statement[4]
                    
                    a(href="/edit-statement/{$statement[0]}") = "Edit Statement"
                    a(href="/delete-statement/{$statement[0]}") = "Delete Statement"

        script(src="/app/scripts/dashboard.js");
