extends base.pug

block content 
    main(id="editComment")
        form(method="POST" action="{$domain}/edit-comment/{$commentId}")
            input(name="comment" type="text" minlength="3" maxlength="100" value="{$text}" required)
            input(type="submit" value="Comment")
