extends navbar.pug

block content
    if $statement
        main(id="fullStatement") 
            //- Ratio of votes
            section(class="percentages" style="grid-template: 1fr / {$votesCount['disagree']}fr {$votesCount['neutral']}fr {$votesCount['agree']}fr;")
                div(class="disagree")
                div(class="neutral")
                div(class="agree")
            
            //- Statement info
            section(class="content mt-3")
                section(class="statementContent")
                    h1 = "{$statement['title']}"

                    //- Is there an attached image
                    if $statement['image_url']
                        img(src="{$domain}/uploads/${statement['image_url']}" class="w-100")

                    p(class="post-info")
                        span
                            if $statement['author'] == ""
                                b = "<deleted>"
                            else
                                a(href="{$domain}/user/{$statement['author']}") = "{$statement['author']}"
                        span = ", "
                        span = "{$statement['time']}"

                    p = "{$votesCount['total']} people voted, {$votesCount['disagree']} people disagree, {$votesCount['neutral']} are neutral and {$votesCount['agree']} agree."
                    
                    //- Statement text
                    p(id="statementText") = "{$statement['text']}"

                    //- Voting form
                    p(id="opinionFormsTitle") = "What do you think?"
                    section(id="opinionForms")
                        form(id="formDisagree" method="POST" action="{$domain}/vote/{$statement['id']}/disagree")
                            input(type="submit" value="Disagree")

                        form(id="formNeutral" method="POST" action="{$domain}/vote/{$statement['id']}/neutral")
                            input(type="submit" value="Neutral")

                        form(id="formAgree" method="POST" action="{$domain}/vote/{$statement['id']}/agree")
                            input(type="submit" value="Agree")


                    //- Commenting Form
                    form(method="POST" id="commentForm" action="{$domain}/comment/{$statement['id']}" autocomplete="off")
                        input(name="comment" class="form-control" id="commentInput" type="text" minlength="3" maxlength="100" required)
                        input(type="submit" class="btn btn-dark ms-3" id="commentButton" value="Comment")

                    //- Comments
                    section(id="comments")
                        each $comment in $comments
                            section(class="comment")
                                a(href="{$domain}/user/{$comment['username']}") = " {$comment['username']}"
                                p = "{$comment['text']}"
                                
                                if $comment["username"] != ""
                                    if $username == $comment["username"]
                                        a(href="{$domain}/delete-comment/{$comment['id']}") = "Delete Comment"
                                        a(href="{$domain}/edit-comment/{$comment['id']}") = " Edit Comment"
    else 
        h1 = "404 Statement Not Found"