extends base.pug

block content
    main(id="full-statement") 
        //- Ratio of votes
        div(class="percentages" style="--votes-ratio: {$votesCount['disagree']}fr {$votesCount['neutral']}fr {$votesCount['agree']}fr;")
            div(class="disagree")
            div(class="neutral")
            div(class="agree")

        //- Statement info
        h1 = "{$statement['title']}"
        p(class="post-info")
            span
                b = "{$statement['author']}"
            span = " stated "
            span = "{$statement['time']}"

        p = "{$votesCount['total']} people voted, {$votesCount['disagree']} people disagree, {$votesCount['neutral']} are neutral and {$votesCount['agree']} agree."
        
        //- Voting form
        p(id="opinionFormsTitle") = "What do you think?"
        div(id="opinionForms")
            form(id="formDisagree" method="POST" action="{$domain}/vote/{$statement['id']}/disagree")
                input(type="submit" value="Disagree")

            form(id="formNeutral" method="POST" action="{$domain}/vote/{$statement['id']}/neutral")
                input(type="submit" value="Neutral")

            form(id="formAgree" method="POST" action="{$domain}/vote/{$statement['id']}/agree")
                input(type="submit" value="Agree")

        //- Statement text
        p = "{$statement['text']}"

        hr

        //- Commenting Form
        form(method="POST" action="{$domain}/comment/{$statement['id']}")
            input(name="comment" type="text" minlength="3" maxlength="100" required)
            input(type="submit" value="Comment")

        //- Comments
        section(id="comments")
            each $comment in $comments
                p 
                    span = "{$comment[3]}"
                    span = " - {$comment[2]}"