extends base.pug

    main(class="statements") 
        if $statements == []
            p(class="no-statements") = "There are no statements yet..."

        each $statement in $statements
            div(class="statement" role="link" tabindex="0" onclick="window.location.href='{$domain}/statement/{$statement['id']}'") 
                div(class="percentages" style="grid-template: 1fr / {$statement['votesCount']['disagree']}fr {$statement['votesCount']['neutral']}fr {$statement['votesCount']['agree']}fr;")
                    div(class="disagree")
                    div(class="neutral")
                    div(class="agree")

                div(class="content")

                    div(class="inline")
                        h2(class="statement-title") = $statement["title"] 
                        p(class="margin-right")
                            a(class="username" href="{$domain}/user/{$statement['username']}/statements") = $statement["username"]
                            span = ", "
                            span = $statement["time"]
