extends base.pug

block content
    main(class="account-page")
        div(class="account-form")
            h1 = "Login"
            form(method="POST" action="/login")
                input(id="username" name="username" type="text" placeholder="Username", required)
                input(id="userpass" name="userpass" type="password" placeholder="Password", required)
                input(type="submit" value="Submit")
            p(id="showInvalid") = "Your username or password is invalid"
    
