extends base.pug

block head 
    nav(class="navbar navbar-expand-lg")
        div(class="container-fluid")
            //- Logo
            a(href="{$domain}/" id="logo" class="navbar-brand")
                img(src="{$domain}/app/assets/logo.svg", alt="Spectrum debate logo")
