extends base.pug

block head 
    nav(class="navbar navbar-expand-lg")
        div(class="container-fluid")
            //- Logo
            a(href="{$domain}/" id="logo" class="navbar-brand")
                img(src="{$domain}/app/assets/logo.svg", alt="Spectrum debate logo")
            
            //- Smaller navbar toggler
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")

            //- Navbar items, collapsible
            div(class="collapse navbar-collapse container" id="navbarNavDropdown")
                ul(class="navbar-nav col")
                    li(class="nav-item")
                        a(href="{$domain}/home" class="nav-link text-dark") = "Home"
                    li(class="nav-item")
                        a(href="{$domain}/dashboard" class="nav-link text-dark") = "Dashboard"
                
            //- Search
            div(id="searchContainer" class="search-mid" data-bs-toggle="modal" data-bs-target="#modalSearch" role="search")
                div() = "Search"

            //- Accounts
            div(class="collapse navbar-collapse container" id="navbarNavDropdown")
                ul(class="navbar-nav col justify-content-end")
                    //- If logged in
                    if $username
                        li(class="nav-item")
                            a(href="{$domain}/dashboard" class="nav-link text-primary") = "@{$username}"
                        li(class="nav-item")
                            a(href="{$domain}/logout" class="nav-link text-danger") = "Logout"
                    //- If not logged in
                    else
                        li(class="nav-item")
                            a(href="{$domain}/login" class="nav-link text-dark") = "Login" 
                        li(class="nav-item")
                            a(href="{$domain}/signup" class="nav-link text-dark") = "Sign Up Now" 
    
    //- Search container modal
    div(id="modalSearch" class="modal fade" tabindex="-1" aria-hidden="true")
        div(class="modal-dialog  modal-dialog-centered")
            div(class="modal-content")
                div(class="modal-header")               
                    div(id="searchModal" class="search-mid" role="search")
                        form(id="searchForm" autocomplete="off")
                            input(id="search" type="text" minlength="1" maxlength="100" placeholder="Search" aria-label="Search") 
                    
                    button(class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close")

                div(class="modal-body")
                    div(id="searchResults")
                        h4 = "Statements"
                        div(id="searchStatements")
                        hr
                        h4 = "Users"
                        div(id="searchUsers")

    script(src="{$domain}/app/scripts/search.js")
