extends navbar.pug

block content 
    if $author
        main(id="userProfile")
            section(class="user-info d-flex flex-column align-items-center")
                div(class="")
                    h1 = $author

                    if $bio
                        p(class="text-center") = "{$bio}"

                if $isFriend
                    a(id="delFriend" href="{$domain}/new-friend/{$author}" class="btn btn-danger my-2") = "Remove Friend"
                else 
                    a(id="addFriend" href="{$domain}/new-friend/{$author}" class="btn btn-primary my-2") = "Add Friend"

                //- Views
                section(class="views")
                    button(id="viewStatements" class="btn btn-light me-2") = "Statements"
                    button(id="viewComments" class="btn btn-light") = "Comments"
                
            //- Statements
            section(id="statements")     
                section(class="container-sm d-flex flex-column align-items-center")
                    //- If user hasn't posted any statements
                    if $statements == []
                        p(class="no-statements") = "There are no statements yet..."

                    each $statement in $statements
                        div(class="statement container-sm" role="link" tabindex="0" onclick="window.location.href='{$domain}/statement/{$statement['id']}'") 
                            div(class="percentages" style="grid-template: 1fr / {$statement['votesCount']['disagree']}fr {$statement['votesCount']['neutral']}fr {$statement['votesCount']['agree']}fr;")
                                div(class="disagree")
                                div(class="neutral")
                                div(class="agree")

                            div(class="content")

                                div(class="inline")
                                    h2(class="statement-title") = $statement["title"] 
                                    p(class="margin-right")
                                        span = $statement["time"]            
            //- Comments
            section(id="comments") 
                section(class="container-sm d-flex flex-column align-items-center")
                    section(class="w-50")
                        //- If user hasn't posted any comments
                        if !$comments 
                            p = "This user hasn't commented anything yet..."

                        each $comment in $comments
                            div(class="comment")
                                a(href="{$domain}/statement/{$comment['statement_id']}") = "See Statement"
                                p = "{$comment['text']}"
    
        script(src="/app/scripts/userProfile.js" type="text/javascript")
    else 
        h1 = "404 User Not Found"
                        